<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Plays</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Play</th>
        <td>timestamp</td>
        <td>auth</td>
      </tr>
    </thead>
    <tbody>
      {% for show in shows %}
      <tr>
        <th><a href="steam://rungame/730/76561202255233023/+playcast%20%22http://csgo.joke-lan.net:3000/match/{{show.token}}">{{show.token}}</a></th>
        <td>{{show.timestamp}}</td>
        <td>{{show.auth}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
</html>
